@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.content-lessons{
    margin: 53px 0 0 120px;
}
.title{

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #2988F8;
}
.text{
    width: 492px;
    margin: 44px 0 0 0;
}
.text p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}
.download{
    display: flex;
    margin: 25px 0 0 0;
}
.download button{
    padding: 10px 10px 10px 11px;
    font-size: 20px;
    color: #2988F8;

    background: #FFFFFF;
    border: 1px solid #2988F8;
    border-radius: 50px;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
}
.download h1{
    margin: 15px 0 0 25px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;


    color: #2988F8;
}