@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.right-bar{
    width: 491px;
    padding: 25px;
}
.right-bar:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.right-bar h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
.right-bar p{

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #696969;
}
.video{
    display: flex;
}
.video button{
    padding: 8px 8px 8px 12px;
    font-size: 20px;
    color: #FFFFFF;

    background: #2988F8;
    border: 1px solid #2988F8;
    border-radius: 50px;
    box-sizing: border-box;
}
.video h4{
    margin: 8px 0 0 5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;


    color: #2988F8;
}
.book{
    margin: 15px 0 0 0;
    display: flex;
}
.book button{
    padding: 8px 8px 8px 10px;
    font-size: 20px;
    color: #2988F8;

    background: #FFFFFF;
    border: 1px solid #2988F8;
    border-radius: 50px;
    box-sizing: border-box;
}
.book h4{
    margin: 8px 0 0 5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;


    color: #2988F8;
}