@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.header{
    height: 100px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.buttons-header{
    display: flex;
    margin-left: 1004px;
}
.RU{
    padding: 8px;
    margin-top: 26px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-decoration: none;
    border-radius: 50%;

    border: 1px solid #2988F8;
    color: #fff;
    background: #2988F8;
}
.RU:hover{
    background: #fff;
    color: #2988F8;
    border: 1px solid #2988F8;
}
.KG{
    padding: 8px;
    margin-left: 15px;
    margin-top: 26px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-decoration: none;
    border-radius: 50%;

    color: #fff;
    background: #2988F8;
    border: 1px solid #2988F8;
}
.KG:hover{
    background: #fff;
    color: #2988F8;
    border: 1px solid #2988F8;
}
.courses{
    margin-top: 26px;
    margin-left: 55px;
    padding: 12px 25px 12px 25px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-decoration: none;
    border-radius: 30px;

    color: #fff;
    border: none;
    background: #2988F8;
}
.courses:hover{
    background: #fff;
    color: #2988F8;
    border: 1px solid #2988F8;
}