@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.content{
    display: flex;
}
.user-static{
    width: 300px;
    margin-top: 55px;
    margin-left: 100px;
    margin-right: 126px;
}
.user-static h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #2988F8;
}
p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}
.user-course{
    margin-top: 55px;
}
.user-course h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #2988F8;
}
.result{
    width: 570px;
    position: relative;
    margin-left: 20px;
}
.result h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;

    color: #000;
}
.result p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #696969
}
.btn-result{
    position: absolute;
    left: 506px;
    top: 40px;
}
.btn-result button{
    font-size: 28px;

    background: none;
    border-radius: 35px;
    border: 1px solid #2988F8;
    color: #2988F8;
    height: 50px;
    width: 50px;
}
.line{
    margin-top: 55px;
    margin-bottom: 55px;
}
.Test-user{
    margin-top: -35px;
    margin-left: -10px;
    display: flex;
}
.Test-user h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;

    color: #2988F8;
}
.btn-begin button{
    margin: 10px 0 0 55px;
    padding: 15px 55px 15px 55px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
    border: none;
    background: #2988F8;
    border-radius: 30px;
}