@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.Modal{
    position: fixed;
    z-index: 500;
    background: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #2988F8;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
.Modal h1{
    text-align: center;
    font-size: 35px;

    color: red;
    font-family: Roboto;
    font-weight: normal;
}
.Modal p{
    text-align: center;
    font-size: 25px;

    color: #000;
    font-family: Roboto;
    font-weight: normal;
}
.btn{
    text-align: center;
    margin-top: 55px;
}
.btn button{
    color: #FFF;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: normal;
    padding: 5px;
    font-size: 25px;
    background: #2988F8;
    border: 1px solid #2988F8;
}
.ok-btn{
    width: 100px;
    margin-left: 85px;
}