.content{
    display: flex;
}
.formUser{
    width: 491px;
    height: 498px;
    margin-top: 95px;
    margin-left: 120px;
    margin-bottom: 166px;
    padding: 40px;

    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.text-head{
    margin-top: 45px;

    font-size: 25px;
    text-align: center;
}
.inputs{
    margin-top: 65px;
    margin-left: 40px;
}
.Log{
    width: 376px;
    padding: 20px;

    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #898989;
}
.Password{
    width: 376px;
    padding: 20px;
    margin-top: 10px;

    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #898989;
}
.btn-user{
    margin-top: 35px;
}
.btn-ready{
    padding: 20px 136px 20px 136px;

    text-decoration: none;
    font-size: 18px;
    color: #fff;
    background: #2988F8;
    border: 1px solid #898989;
    border-radius: 5px;
}
.btn-ready:hover{
    color: #2988F8;
    background: #fff;
}
.btn-google{
    margin: 25px 0 0 0;
}
.google-btn{
    padding: 5px 5px 5px 95px !important;
    width: 420px;
    text-decoration: none;
    font-size: 18px !important;
    background: #2988F8;
    border: 1px solid #898989 !important;
    border-radius: 5px !important;
}
.image{
    margin-top: 85px;
    margin-left: 121px;
}
.image img{
    width: 589px;
    height: 488px;
}